<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>RAKANOTH</b>CMS</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form name="loginCtrl.loginForm" method="post" ng-submit="loginCtrl.login()">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" ng-model="loginCtrl.form.email" required=""
                       placeholder="Email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="loginCtrl.form.password" required=""
                       placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!--<div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="loginCtrl.form.remebmer"> Remember Me
                        </label>
                    </div>
                </div>-->
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" ng-disabled="loginCtrl.loading || loginCtrl.loginForm.$invalid"
                            class="btn btn-primary btn-block btn-flat">
                        <span ng-hide="loginCtrl.loading">
                            {{ 'auth.login' | translate }}
                        </span>
                        <span ng-show="loginCtrl.loading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </button>

                </div>
                <!-- /.col -->
            </div>
        </form>

        <!--<a href="#">I forgot my password</a><br>-->
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->

    </div>
    <!-- /.login-box-body -->
</div><!-- /.login-box -->
