<!--
  ~ This file is part of EMCOO TEAM PROJECT.
  ~
  ~  (c) EMCOO TEAM
  ~  (c) DevMark <mark@emcoo.com>
  ~
  ~  For the full copyright and license information, please view http://emcoo.com/
  ~
  ~
  -->

<section class="content-header">
    <h1>
        {{ 'customer.customers' | translate }}
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a ui-sref="main.customer-create" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'customer.add_a_customer'
                    | translate }}</a>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'customer.customers' | translate }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" st-table="listCtrl.rowCollection" st-safe-src="listCtrl.rowCollection"
                     st-pipe="listCtrl.callServer">

                   
                    <!-- /.row -->
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <button ng-disabled="listCtrl.countSelectedRows <= 0" class="btn btn-default btn-sm"
                                        ng-really-message="{{ 'customer.delete_before_msg' | translate }}"
                                        ng-really-click="listCtrl.bulkRemove()"><i
                                        class="fa fa-trash-o"></i> Delete Selected
                                </button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="5%">
                                    <st-select-all all="listCtrl.rowCollection"
                                                   count-selected-rows="listCtrl.countSelectedRows"
                                                   ng-model="isAllSelected"></st-select-all>
                                </th>
                                <th>{{ 'global.name' | translate}}</th>
                                <th width="20%">{{ 'global.created_at' | translate }}</th>
                                <th width="15%"></th>
                            </tr>
                            </thead>
                            <tbody ng-if="!listCtrl.tableLoading">

                            <tr ng-repeat="row in listCtrl.rowCollection">
                                <td>
                                    <input type="checkbox" ng-checked="row.isSelected" st-select-row="row"/>
                                </td>
                                <td>{{ row.firstname }}
                                </td>
                                <td>{{ row.created_at | amCalendar }}</td>
                                <td>
                                    <div class="btn-group" dropdown>
                                        <a href="customers/{{ row.id }}/edit" class="btn btn-primary"><i
                                                class="fa fa-search"></i> {{ 'button.edit' | translate }}
                                        </a>
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="listCtrl.remove(row)" href=""><i class="fa fa-times"></i> {{
                                                'button.remove' | translate }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="listCtrl.tableLoading">
                            <tr>
                                <td colspan="7" class="text-center"><i class="fa fa-lg fa-spinner fa-spin"></i></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-template="app/shared/override/smart-table/pagination.html"
                                         st-next-prev-pagination=""
                                         st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>
</section>
